[submodule "honey-badger-testing"]
	path = honey-badger-testing
	url = https://github.com/DMDcoin/honey-badger-testing.git
[submodule "diamond-contracts-core"]
	path = diamond-contracts-core
	url = https://github.com/DMDcoin/diamond-contracts-core.git
[submodule "diamond-contracts-views"]
	path = diamond-contracts-views
	url = https://github.com/DMDcoin/diamond-contracts-views.git
[submodule "diamond-node"]
	path = diamond-node
	url = https://github.com/DMDcoin/diamond-node.git
[submodule "diamond-contracts-dao"]
	path = diamond-contracts-dao
	url = https://github.com/DMDcoin/diamond-contracts-dao.git
[submodule "diamond-contracts-claiming"]
	path = diamond-contracts-claiming
	url = https://github.com/DMDcoin/diamond-contracts-claiming.git
