
[submodule "diamond-contracts-core"]
	path = diamond-contracts-core
	url = https://github.com/DMDcoin/diamond-contracts-core.git
[submodule "diamond-contracts-views"]
	path = diamond-contracts-views
	url = https://github.com/DMDcoin/diamond-contracts-views.git
[submodule "diamond-node"]
	path = diamond-node
	url = https://github.com/DMDcoin/diamond-node.git
[submodule "diamond-contracts-dao"]
	path = diamond-contracts-dao
	url = https://github.com/DMDcoin/diamond-contracts-dao.git
[submodule "diamond-contracts-claiming"]
	path = diamond-contracts-claiming
	url = https://github.com/DMDcoin/diamond-contracts-claiming.git
[submodule "diamond-dev-tools"]
	path = diamond-dev-tools
	url = https://github.com/DMDcoin/diamond-dev-tools.git
[submodule "diamond-ui"]
	path = diamond-ui
	url = https://github.com/DMDcoin/diamond-ui.git
[submodule "diamond-dapp-claiming"]
	path = diamond-dapp-claiming
	url = https://github.com/DMDcoin/diamond-dapp-claiming.git
